In [1]:
import pandas as pd

data = pd.read_csv("datasets/data.csv")

data

   nombre  edad genero futbol teatro
0      n1    21      h      y      n
1      n2     0      h      y      n
2      n3     6      m      n      n
3      n4    12      h      y      n
4      n5    28      m      n      n
5      n6    19      h      y      n
6      n7    43      m      n      n
7      n8    34      h      y      n
8      n9    15      h      n      n
9     n10    23      m      y      n
10    n11    32      h      y      n
11    n12    45      h      n      n
12    n13    76      m      y      n
13    n15    14      h      y      n

# Proyecto A:

**Pista 1**. Para contar datos debemos segmentar el dataframe, es decir, filtrar todos los datos con cierta característica
Intenta investigar sobre Dataframe.query para filtrar todos los hombres, luego, cuenta cuántos hombres fueron filtrados

**Pista 2**. Para determinar una probabilidad, hay que calcular el porcentaje de 
(Total en Categoría) / (Total en todas las Categorías)
Por ejemplo, P(H) = TOTAL(H) / TOTAL(H + M + ...)

# Proyecto B

**Pista 1**. Para codificar un valor, crea una función que transforme un dato en otro.

Por ejemplo, 

```py
def simbolo_a_numero(simbolo):
    if simbolo == "x":
        return -1
    if simbolo == "-":
        return 0
    ...
```

**Pista 2**. Puedes mapear (transformar) una lista de datos usando `list(map(transformador, secuencia))`.